.fixed_footer{
     width: 100vw;
        position: fixed;        
        bottom: 0;
}
.app_footer{
   display: flex;
   align-items: center;
   justify-content:center;
   width: 100%;
   text-align: center;
   background: #fff;
}
.footer_item{
   margin-left: 1%;
}